{
  "globals": {
    "TestUtils": true,
    "assert": true
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "brace-style": [2, "stroustrup"]
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
  }
}
