{
  "globals": {
    "TestUtils": true,
    "assert": true
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "brace-style": [2, "1tbs"],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "no-underscore-dangle": 0,
    "semi": [2, "always"],
    "react/display-name": 0,
    "react/jsx-quotes": [2, "double", "avoid-escape"],
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2
  }
}
