# OSX
.DS_Store
.DS_Store?
.log
.sql

# SASS
.sass-cache

# SublimeText
*.sublime-project
*.sublime-workspace
.idea

# CodeKit
config.codekit
.codekit-config
.codekit-config.json

# Jekyll
_site

# Node
node_modules/

# Ignore
/dist
/docs/*.html