# OSX
.DS_Store
.DS_Store?
.log
.sql

# SASS
.sass-cache

# SublimeText
*.sublime-project
*.sublime-workspace
.idea

# Vim
*.swp

# CodeKit
config.codekit
.codekit-config
.codekit-config.json

# Node
node_modules/

# Ignore
docs/assets/bundle.js
.grunt/
npm-debug.log
coverage/*
docs/npm-debug.log*
docs/assets/toolkit.css
