/*------------------------------------*\
    # list Item
\*------------------------------------*/
ul.component-unordered-list,
ol.component-ordered-list {
  margin-left: 1.5em;
}

.component-icon-list {
  margin-left: 0;
  list-style: none;
  i {
    width: (18em / 14);
    text-align: center;
  }
}
