/*------------------------------------*\
    #button-dropdown
\*------------------------------------*/
.component-button-dropdown {
  display: inline-block;
  position: relative;

 .component-button .component-icon {
    line-height: $line-height-body;
  }
}
