  <script>
    var addStylesheets = function() {
      var stylesheets = [
        '//fonts.googleapis.com/css?family=Roboto:300,700|Yanone+Kaffeesatz:200,400,700',
        '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
      ];

      for(var i=0; i < stylesheets.length; i++) {
        insertStylesheet(stylesheets[i]);
      }
    };

    var insertStylesheet = function(href) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = href;
      var head = document.getElementsByTagName('head')[0];
      head.insertBefore(link, head.firstChild);
    };

    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(addStylesheets);
    else window.addEventListener('load', addStylesheets);
  </script>
  
  {% include analytics.html %}

  </body>
</html>