/*------------------------------------*\
    # Icon list item
\*------------------------------------*/

.component-icon-list-item {
  position: relative;
  min-height: var(--line-height-body);
  i {
    position: absolute;
    left: -2em;
    line-height: inherit;
  }
}

/*
 *    Functional Colours
 */

.component-icon-list-item {
  &.primary {
    color: var(--primary);
  }
  &.secondary {
    color: var(--secondary);
  }
  &.success {
    color: var(--success);
  }
  &.info {
    color: var(--info);
  }
  &.warning {
    color: var(--warning);
  }
  &.danger {
    color: var(--danger);
  }
}
