{% include head.html %}
  {% include header.html %}
  <div class="container">
    {{ content }}
  </div>

  <script>
    var addStylesheets = function() {
      var stylesheets = [
        '//brand.airparks.co.uk/css/styles.css',
      ];
      for(var i=0; i < stylesheets.length; i++) {
        insertStylesheet(stylesheets[i]);
      }
    };

    var insertStylesheet = function(href) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = href;
      var head = document.getElementsByTagName('head')[0];
      head.insertBefore(link, head.firstChild);
    };

    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(addStylesheets);
    else window.addEventListener('load', addStylesheets);
  </script>

{% include foot.html %}