/*------------------------------------*\
    #Borders
\*------------------------------------*/

//
// == Defaults ==
//

$border-style-default: solid;

$border-size-default: 1px;
$border-size-large:   4px;
$border-size-small:   0;

$border-color-default:   darken($default, 5%);
$border-color-primary:   darken($primary, 5%);
$border-color-secondary: darken($secondary, 5%);
$border-color-success:   darken($success, 5%);
$border-color-info:      darken($info, 5%);
$border-color-warning:   darken($warning, 5%);
$border-color-danger:    darken($danger, 5%);

$radius-default:            .25em;
$radius-vertical-default:   $radius-default;
$radius-horizontal-default: $radius-default;

$radius-default-large:      $radius-default;
$radius-vertical-large:     $radius-vertical-default;
$radius-horizontal-large:   $radius-horizontal-default;

$radius-default-small:      $radius-default;
$radius-vertical-small:     $radius-vertical-default;
$radius-horizontal-small:   $radius-horizontal-default;


//
// == Buttons ==
//

$button-border-size:    $border-size-default;
$button-border-style:   $border-style-default;
$button-border-color:   $border-color-default;
$button-border-radius:  $radius-default;


//
// == Alerts ==
//

$alerts-border-size:    $border-size-default;
$alerts-border-style:   $border-style-default;
$alerts-border-color:   $border-color-default;
$alerts-border-radius:  $radius-default;


//
// == Forms ==
//

$input-border-size:     $border-size-default;
$input-border-style:    $border-style-default;
$input-border-color:    darken($input, 15%);
$input-border-radius:   $radius-default;


//
// == Lozenge ==
//

$lozenge-border-size:    $border-size-small;
$lozenge-border-style:   $border-style-default;
$lozenge-border-color:   rgba(255,255,255,0);
$lozenge-border-radius:  $radius-default;


//
// == Quotes ==
//

$quotes-border-size:    $border-size-large;
$quotes-border-style:   $border-style-default;
$quotes-border-color:   $border-color-default;
$quotes-cite-color:     $border-color-default;
$quotes-border-radius:  $radius-default;


//
// == Tiles ==
//

$tiles-border-size:     $border-size-default;
$tiles-border-style:    $border-style-default;
$tiles-border-color:    $border-color-default;
$tiles-border-radius:   $radius-default;
