/*------------------------------------*\
    #Colors
\*------------------------------------*/

$default:   rgb(225,225,225);
$primary:   rgb(153,51,204);
$secondary: rgb(0,153,219);
$success:   rgb(136,186,56);
$info:      rgb(91,199,222);
$warning:   rgb(240,173,78);
$danger:    rgb(216,43,38);
$input:     rgb(250,250,250);

$background-color: rgba(255,255,255,1);
$text-color: rgba(65,65,65,1);
$text-color-inverted: rgba(255,255,255,1);
