/*------------------------------------*\
    #Flag
\*------------------------------------*/

.component-flag {
  background: $default;
  border-color: $default;
  display: inline-block;
  line-height: 1em;
  padding: .25em 1em;
  position: relative;
  margin: .25em 1em .5em 1em;

  &:after, &:before {
    content: "";
    display: block;
    top:   1.5em;
    width:  0;
    height: 0;
    position: absolute;
    border-width: .75em .5em;
    border-style: solid;
    border-color: darken($default, 5%);
    z-index:-1;
  }

  &:after {
    top:  .25em;
    right: 0;
    margin-right: -.75em;
    border-right-color: transparent;
  }

  &:before {
    top:   .25em;
    left: 0;
    margin-left: -.75em;
    border-left-color: transparent;
  }
}

//
// == Functional Colours ==
//

// Mixin
@mixin flag-variant($background) {
  background-color: $background;
      border-color: $background;
             color: set-color($background);
  &:after {
    border-color: darken($background, 5%);
    border-right-color: transparent;
  }
  &:before {
    border-color: darken($background, 5%);
    border-left-color: transparent;
  }
}

.component-flag {
  @include flag-variant($default);
  &.primary {
    @include flag-variant($primary);
  }
  &.secondary {
    @include flag-variant($secondary);
  }
  &.success {
    @include flag-variant($success);
  }
  &.info {
    @include flag-variant($info);
  }
  &.warning {
    @include flag-variant($warning);
  }
  &.danger {
    @include flag-variant($danger);
  }
}


//
// == Position ==
//

.component-flag {

  // Right
  &.right {
    position: absolute;
    top:   1em;
    right: 0;
    margin-right: -.5em;
    border-radius:0 2px 2px 0;
    &:after {
      content: "";
      display: block;
      width:  0;
      height: 0;
      position: absolute;
      z-index: -1;
      border-width: .25em;
      top:   1.5em;
      right: 0;
      margin-top:  -1px;
      margin-right: 0;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }
    &:before {
      top:0;
      z-index:0;
      border-color: inherit;
      border-left-color: transparent;
    }
  }

  // Left
  &.left {
    position: absolute;
    top:  1em;
    left: 0;
    margin-left: -.5em;
    border-radius:2px 0 0 2px;
    &:before {
      content: "";
      display: block;
      width:  0;
      height: 0;
      position: absolute;
      z-index: -1;
      border-width: .25em;
      top:   1.5em;
      left:  0;
      margin-top:  -1px;
      margin-left: 0;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
    &:after {
      top:0;
      z-index:0;
      border-color: inherit;
      border-right-color: transparent;
    }
  }

  // Top
  &.top {
    top:    1em;
    bottom: auto;
  }

  // Bottom
  &.bottom {
    top:    auto;
    bottom: 1em;
  }
}